body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
}

header{
    color: #fff;
    background-color: #B784FF;
}

a {
    text-decoration: none;
}
p {
    text-align: justify;
}
@media screen and  (min-width: 768px){
    header  {
        display: flex;
        align-items: center;
        justify-content:space-between;
        column-gap: 20px;

    }
    .nav-bar {
        display: flex;
        
    }
}

